.btn {
    font-size: 20px;
    font-weight: 700;
    background-color: #6278F7;
    color: #fff;
    border: none;
    margin: 20px 0;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #313d7c;
}